
html{
  font-size: 100%;
  font-family: "mainFont";
  overflow-y: scroll;;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}



@font-face {
  font-family: "mainFont";
  src:url("../fonts/Roboto-LightItalic.ttf");
  /*Freeware*/
}

@font-face {
  font-family: "secFont";
  src:url("../fonts/Roboto-ThinItalic.ttf");
}


@font-face {
  /*media icons*/
  font-family: "iconFont";
  src:url("../fonts/iconFont/PWHandySocialIcons.ttf");
}

input{
  -webkit-transition: color 0.7s ease-in;
  -moz-transition: color 0.7s ease-in;
  transition: color 0.7s ease-in;
  -webkit-transition: background 1.2s ease-out;
  -moz-transition: background 1.2s ease-out;
  transition: background 1.2s ease-out;

  width: 15vh;
  height: 6vh;
  font-size: 2vh;
  font-weight: 900;
  color:rgb(114, 99, 99);
  position: absolute;
  font-family: "secFont";
  background: rgb(255, 191, 191);
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border:0;

}
input:active,
input:hover {
  outline: 0;
}


input:hover{
  color: rgb(255, 191, 191);
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  transition: color 0.7s ease;
  background: #ed7676;
  -webkit-transition: background 0.7s ease;
  -moz-transition: background 0.7s ease;
  transition: background 0.7s ease;
}

button:before{
/*  font-size: 0;
  -webkit-transition: font-size 0.7s ease-in;
  -moz-transition: font-size 0.7s ease-in;
  transition: font-size 0.7s ease-in;

  background: rgb(114, 99, 99);
  -webkit-transition: background 0.7s ease;
  -moz-transition: background 0.7s ease;
  transition: background 0.7s ease;
    */
  content: 'Thank You!';
  visibility: visible;
}

jQuery('button').click(function(){
   jQuery(this).toggleClass('active');
});

input{

}
nav {
  width: 11vh;
  height: 5vh;
  position: absolute;
  top:2vh;
  left: 5vh;
  font-family: "mainFont";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
nav > ul {
  width: 11vh;
  height: 5vh;

  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #ddd;
  border-radius: 5px;
}
nav > ul > li {
  float: center;
  width: 11vh;
  height: 5vh;
  line-height: 5vh;
  position: relative;
  text-transform: uppercase;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
nav > ul > li:hover {
  background: #d5d5d5;
  border-radius: 5px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  width: 11vh;
  height: 5vh;
  background: #666;
  color: rgba(255, 255, 255, 0.7);
}
ul.drop-menu li:hover {
  background: #606060;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

body {
  color: #000000;
  margin: 0;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-style: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

    abbr[title] {
      border-bottom: 1px dotted; }



    dfn {
      font-style: italic; }

    mark {
      background: #ff0;
      color: #000; }

    small {
      font-size: 80%; }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline; }

    sup {
      top: -0.5em; }

    sub {
      bottom: -0.25em; }


[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
}


a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, small {
  margin: 0;
  padding: 0; }




body {
  font-size: 100%;
}
  @media (min-width: 36em)
  {
    body {
      font-size: 110%; }
    }
  @media (min-width: 58em) {
    body {
      font-size: 120%; }
    }
  @media (min-width: 86em) {
    body {
      font-size: 130%; }
    }
  @media (min-width: 115em) {
    body {
      font-size: 160%; }
    }
  @media (min-width: 125em) {
    body {
      font-size: 170%; }
    }
  @media (min-width: 145em) {
    body {
      font-size: 180%; }
    }

/*
#e35555 red
#eddd2d yellow
*/
    a {
      font-weight: 900;
  color: rgb(255, 191, 191);
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  transition: color 0.7s ease; }
  a:hover {
    color: #ec5b5b;
    /*color: #ec5b5b; */
    -webkit-transition: color 0.7s ease;
    -moz-transition: color 0.7s ease;
    transition: color 0.7s ease; }

    *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #7690a4; }

body {
  -webkit-animation: fade-in ease-in-out 1.4s;
  -moz-animation: fade-in ease-in-out 1.4s;
  animation: fade-in ease-in-out 1.4s; }

  .sect-banner {
    display: table;
    width: 100%;
    margin: 0 ;
    text-align: center;
    height: 100vh;
    color: rgba(255,255,255, 1);
  }
/* Animation stuff idk from Stephen Scaff */
  .sect-banner:after
  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(118, 144, 164, 0.6);
  z-index: 0; }
.sect-banner .v-center {
  position: relative;
  z-index: 2; }
.sect-banner .v-center {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%;
}
  .sect-banner .v-center h1 {
    font-size: 150%;
    -webkit-animation: fade-in ease-in-out 2s 0.5s both;
    -moz-animation: fade-in ease-in-out 2s 0.5s both;
    animation: fade-in ease-in-out 2s 0.5s both;
  }
  .sect-banner .v-center p {
    line-height: 2;
    font-size: 2.5vh;
    -webkit-animation: fade-in ease-in-out 2s 1s both;
    -moz-animation: fade-in ease-in-out 2s 1s both;
    animation: fade-in ease-in-out 2s 1s both; }
.sect-banner ul.kf-slider li {
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fade-out 15s infinite both;
  -moz-animation: fade-out 15s infinite both;
  animation: fade-out 15s infinite both;
  background-image: url(../images/banner-1-sm.jpg); }
  @media (min-width: 58em) {
    .sect-banner ul.kf-slider li {
      background-image: url(../images/banner-1.jpg); } }
.sect-banner ul.kf-slider li:nth-child(2) {
  background-image: url(../images/banner-2-sm.jpg);
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s; }
  @media (min-width: 58em) {
    .sect-banner ul.kf-slider li:nth-child(2) {
      background-image: url(../images/banner-2.jpg); } }
.sect-banner ul.kf-slider li:nth-child(3) {
  background-image: url(../images/banner-3-sm.jpg);
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s; }
  @media (min-width: 58em) {
    .sect-banner ul.kf-slider li:nth-child(3) {
      background-image: url(../images/banner-3.jpg); } }
.sect-banner .banner-bg {
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 0;
  background-image: url(../images/banner-1-sm.jpg);
  -webkit-animation: slider-sm ease-in-out 30s both infinite;
  -moz-animation: slider-sm ease-in-out 30s both infinite;
  animation: slider-sm ease-in-out 30s both infinite; }
  @media (min-width: 58em) {
    .sect-banner .banner-bg {
      background-image: url(../images/banner-1.jpg);
      -webkit-animation: slider-lg ease-in-out 30s both infinite;
      -moz-animation: slider-lg ease-in-out 30s both infinite;
      animation: slider-lg ease-in-out 30s both infinite; }
    }

    footer {
      font-size: 2vh;
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      position: fixed;
      z-index: 8;
      bottom: 1em;
    }

      @-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

    @-webkit-keyframes fade-out {
    33% {
      opacity: 1; }
    66% {
      opacity: 0; } }
  @-moz-keyframes fade-out {
    33% {
      opacity: 1; }
    66% {
      opacity: 0; } }
  @keyframes fade-out {
    33% {
      opacity: 1; }
    66% {
      opacity: 0; } }

      @-webkit-keyframes slider-sm {
        0% {
          background-image: url(../images/banner-1-sm.jpg); }
        33% {
          background-image: url(../images/banner-2-sm.jpg); }
        66% {
          background-image: url(../images/banner-3-sm.jpg); }
        100% {
          background-image: url(../images/banner-1-sm.jpg); } }
      @-moz-keyframes slider-sm {
        0% {
          background-image: url(../images/banner-1-sm.jpg); }
        33% {
          background-image: url(../images/banner-2-sm.jpg); }
        66% {
          background-image: url(../images/banner-3-sm.jpg); }
        100% {
          background-image: url(../images/banner-1-sm.jpg); } }
      @keyframes slider-sm {
        0% {
          background-image: url(../images/banner-1-sm.jpg); }
        33% {
          background-image: url(../images/banner-2-sm.jpg); }
        66% {
          background-image: url(../images/banner-3-sm.jpg); }
        100% {
          background-image: url(../images/banner-1-sm.jpg); } }
      /*----------------------------------------------
      --Keyframes Slider - Lg
      -----------------------------------------------  */
      @-webkit-keyframes slider-lg {
        0% {
          background-image: url(../images/banner-1.jpg); }
        33% {
          background-image: url(../images/banner-2.jpg); }
        66% {
          background-image: url(../images/banner-3.jpg); }
        100% {
          background-image: url(../images/banner-1.jpg); } }
      @-moz-keyframes slider-lg {
        0% {
          background-image: url(../images/banner-1.jpg); }
        33% {
          background-image: url(../images/banner-2.jpg); }
        66% {
          background-image: url(../images/banner-3.jpg); }
        100% {
          background-image: url(../images/banner-1.jpg); } }
      @keyframes slider-lg {
        0% {
          background-image: url(../images/banner-1.jpg); }
        33% {
          background-image: url(../images/banner-2.jpg); }
        66% {
          background-image: url(../images/banner-3.jpg); }
        100% {
          background-image: url(../images/banner-1.jpg); } }
